.result {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1000px;


}

body {
  background: url('/img/github.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
