.result {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1000px;

}

.well {
    background: transparent;
    border: none;
    color: black;
    text-align: center;
    width: 100%;
    background: rgba(300, 300, 300, 0.8);
     text-shadow: 0px 4px 6px black !important;
}

body {
  background: url('/img/github.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

thead {
  text-decoration: underline;
}



#showrepos {
  width: 100%;
  td {
    padding: 3px;
    border: 1px solid black;
  }
}
